    @import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;   
    }

    /* @font-face {
        font-family: space;
        src: url(/fonts/SpaceMono-Regular.ttf);
    } */


    body{
        background-color: hsl(185, 41%, 84%);
        font-family: 'Space Mono', monospace;
        font-size: 14px;
        font-weight: 700;
        color: hsl(186, 14%, 43%);
    }
    .maincontainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    .boxcontainer{
        position: relative;
        background-color: #ffffff;
        width: 700px;
        height: 400px;
        top: 4%;
        border-radius: 30px;
        text-align: left;
    }

    .input-number{
        margin-top: 30px;
        margin-left: 40px;
    }
    .input-number label{
        display: block;
        margin-bottom: 6px;
    }
    .input-number input[type="number"]{
        background-color: hsl(189, 41%, 97%);
        border: none;
        width: 300px;
        height: 40px;
        border-radius: 6px;
        outline-color: hsl(172, 67%, 45%);
        text-align: right;
        font-size: 24px;
        font-family: 'Space Mono', monospace;
    }
    .input-number2{
        margin-top: 30px;
        margin-left: 40px;
    }
    .input-number3{
        position: relative;
        margin-top: 30px;
        margin-left: 40px;
    }
    .input-number3 label{
        position: relative;
        display: block;
        margin-bottom: 6px;
    }
    .input-number3 label img{
        position: absolute;
        top: 40px;
        left: 12px;
        z-index: 1;
        pointer-events: none;
        
    }
    .input-number label img{
        position: absolute;
        top: 68px;
        left: 52px;
        pointer-events: none;
        
    }
    .input-number3 input[type="number"]{
        position: relative;
        background-color: hsl(189, 41%, 97%);
        border: none;
        width: 300px;
        height: 40px;
        border-radius: 6px;
        text-align: right;
        font-size: 24px;
        outline-color: hsl(172, 67%, 45%);
        font-family: 'Space Mono', monospace;
    }
    button#calculate{
        display: none;
    }
    .tip-btn{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        margin-top: 20px;
        width: 300px;
        height: 90px;

    }
    .tip-btn input{
        border-radius: 6px;
        background-color: hsl(189, 41%, 97%);
        color: hsl(183, 100%, 15%);
        font-size: 20px;
        font-family: 'Space Mono', monospace;
        width: 100px;
        text-align: right;
        font-weight: 700;
    }
    .tip-btn input:hover{
        color: hsl(183, 100%, 15%);
    }
    .tip-btn button{
        border-radius: 6px;
        background-color: hsl(183, 100%, 15%);
        color: #ffffff;
        font-size: 20px;
        cursor: pointer;
        font-family: 'Space Mono', monospace;
        border: none;   
    }
    .tip-btn button:hover{
        color: hsl(183, 100%, 15%);
        background-color: hsl(172, 67%, 45%);
        
    }
    .tip-btn button.active{
        background-color: hsl(172, 67%, 45%);
        color: hsl(183, 100%, 15%);
    }
    .amountcontainer{
        color: #ffffff; 
        position: absolute;
        top: 6%;
        right: 4%;
        text-align: center;
        background: hsl(183, 100%, 15%);
        width: 300px;
        height: 350px;
        border-radius: 10px;
    }
    .tipAmount{
        margin-top: 40px;
        margin-left: 20px;
        text-align: left;
    }
    .amountPerPerson{
        text-align: left;
        margin-top: 60px;
        margin-left: 20px;
    }
    #tipAmount, #amountPerPerson{
        position: absolute;
        right: 10%;
        font-size: 28px;
        color: hsl(172, 67%, 45%);

    }
    #customInput{
        border: none;
    }

    #resetButton{ 
        position: absolute;
        top: 80%;
        left: 12%;
        width: 230px;
        margin-bottom: 20px;
        height: 40px;
        background-color: hsl(172, 67%, 45%);
        border-radius: 6px;
        font-family: 'Space Mono', monospace;
        font-size: 16px;
        font-weight: 700;
        color: hsl(183, 100%, 15%);
        cursor: pointer;
        border: none;
    }
    #resetButton:hover{
        background-color: hsl(185, 41%, 84%);
    }
    #error-message{
        position: absolute;
        left: 28%;
        top: 0%;
        color: #e80000a0;
        font-weight: 700;
    }
    #error-bill-message{
        position: absolute;
        left: 32%;
        top: 8%;
        color: #e80000a0;
        font-weight: 700;
    }
    @media only screen and (max-width: 667px) {

        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            margin: 0;
            padding: 0;
        }

        .boxcontainer {
            position: relative;
            display: flex;
            justify-content: center;
            width: 100%;
            height: 100%;
            left: 0px;
            top: 40px;
        }

        .input-number{
            margin-right: 10%;
        }

        .input-number2 {
            position: absolute;
            top: 14%;
            right: 6%;
        }

        .tip-btn{
            grid-template-columns: repeat(2, 1fr);
            height: 50px;
        }

        .tip-btn input{
            width: 150px;
            
        }

        .input-number3 {
            position: absolute;
            top: 40%;
            right: 6%;
        }

        .amountcontainer {
            position: absolute;
            width: 300px;
            height: 257px;
            left: 22px;
            top: 400px;
            
        }
        
        .input-number label img {
            position: absolute;
            top: 10%;
            left: 10%;
            
        }

        #error-message{
            position: absolute;
            left: 30%;
            top: 38%;
        }
    }
